body {
    background-color: #00001b;
}

.grid-container{

    display: grid;
    grid-template-areas:
    'nav nav nav'
    '. profile .'
    'experience experience experience'
    '. education .'
    'skills skills skills'
    '. projects .'
    '. footer .';
    grid-template-columns: .25fr 1fr .25fr;
     gap: 1rem;
     align-items: center;
}



header{
    
    background-color: #00001b;
    color: #cbe7ff;
    margin: 0;
}

#about{
    display: flex;
    grid-area: profile;
    align-items: center;
    
}

#navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #00001b;
    color: #cbe7ff;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    align-items: flex-start;
    margin: 0;

}

#logo{
    max-width: 4rem;
    max-height: auto;
    margin-left: 9.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color:#ff7272;
    font-size: 1.5rem;
    font-family: "Pacifico", cursive;
    
}

ul{

    display:flex;
    justify-content:flex-end;
    text-align: center;
    align-items: baseline;
    overflow: hidden; 
    margin: 0 auto;
    padding: 0;
    list-style: none;
}


.navButton{
    
    font-family:"Roboto", sans-serif;
    text-align: center;
    padding: .5rem;
    border-collapse: collapse;
    color: #cbe7ff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    
}

.navButton:hover{
    
    color: #ff7272;
}

#innernav{
    
    position: sticky;
    top: 0;
    background-color: #00001b88;
    color: #cbe7ff;
    font-size: 110%;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: .5rem;
    border:#e5f2fd solid .1rem;
    border-left: none;
    border-right: none;
    grid-area: nav;

}

#innernav ul{

    justify-content: center;
}


h3{
    max-width: fit-content;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    border-bottom: 1pt;
    border-style: solid;
    border-color: #e5f2fd;
    color: #ff7272;
    margin-bottom: .5rem;
}

nav{
    float:right;
    text-align: center;
    overflow: hidden;
}


p{
    font-family: "Helvetica", sans-serif;
    font-size: .8rem;
    color: #e5f2fd;
    
}


#profile{
    max-width: 10rem;
    height: auto;
    border-radius: 200px;
}

footer{
    
    grid-area: footer;
    border-top: solid .1rem #ff7272;
    padding: .5rem;

}

h4{
    font-family: "Helvetica", sans-serif;
}

footer p{
    font-family: "Roboto", sans-serif;
    color: #cbe7ff;
    font-size: .7rem;
}

.icon{
    max-width: 1.5rem;
    max-height: 1.5rem;
    background-color: #ff7272;
    border: .1rem solid #cbe7ff;
    border-radius: 1rem;
  }

  h4{
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: #ff7272;
    margin-top: 1rem;
  }

  #lightexp{
    padding: 4rem 0 4rem 0;
    grid-area: experience;
    background-color: #31315c;
    background-color: #232342;
  }
  #experience{
    
    margin: 0 auto;
    width: 65%;
    
  }
  
.textblock{
    margin-top: 1rem; 
    margin-bottom: 1rem;
}

#expbox1{
    display: flex;
    align-items: center;

}

#expbox2{
    display: flex;
    align-items: center;

}

.logo{
    max-width: 10rem;
    height: auto;
    margin: 1rem;
} 

#cv{
    
    max-width: fit-content;
    display:flex;
    align-items: center;
    text-align: center;
    padding: .1rem;
    border: solid .1rem #ff7272;
    border-radius: 6px;
}

#cv p{
    text-decoration: none;
    color: #ff7272;  
    font-weight: bold;
    
}

#dwnload{
    max-width: 1.8rem;
    height: auto;
    
}

#education{
    grid-area: education;

}

#edubox1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

#edubox2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

#skills{
    grid-area: skills;
    background-color: #232342;
    padding: 4rem 0 4rem 0;

}

#skillsbox{
    margin: 0 auto;
    width: 65%;
}

#skillsflex{
    display: flex;
    justify-content: space-between;
    
}

#skillsflex ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: .1rem;
    margin-top: 1rem;
}

#skillsflex ul li{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: .5rem;
}

#skillsflex img{
    max-width: 2.5rem;
    max-height: 2.5rem;
    margin-right: .5rem;
}

#projects{
    grid-area: projects;

}

a{
    text-decoration: none;
    color: #ff7272;
}
