body{
    background-color: #00001b;

}

.grid-container{

    display: grid;
    grid-template-areas: 
    'banner banner banner'
    '. pic form'
    '. icon .';
    align-items: center;
    gap: 1rem;
}



ul{

    display:flex;
    justify-content:flex-end;
    text-align: center;
    overflow: hidden; 
    margin: 0 auto;
    padding: 0;
    
}

#navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #00001b;
    color: #cbe7ff;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin: 0;
    

}

#logo{

    font-family: "Pacifico", cursive;
    margin-left: 9.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color:#ff7272;
    font-size: 1.5rem;
    
    
}


.navButton{
    
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: .5rem;
    border-collapse: collapse;
    color: #cbe7ff;
    text-decoration: none;
    font-size: 1rem;
    background-color: #00001b;
    font-weight: normal;
    
}

.navButton:hover{
    
    color: #ff7272;
}

h1{

    font-family: "Roboto", sans-serif;
    font-size: 150%;
    margin: 0;
    color: #ff7272;
    text-align: center;
}

#text{
    
    grid-area: banner;
}

#pic{
    
    grid-area: pic;
}

#pic img{
    max-width: 20rem;
    height:auto;
    
}


form{
    max-width: 80%;
    grid-area: form;
}

fieldset{
    border: .1rem solid #ff7272;
    border-radius: 1rem;
    margin-bottom: 5pt;
}

input{
    padding: .4rem;
    border-radius: 1rem;
    background-color: #cbe7ff;
    max-width: 80%;
    margin-bottom: 5%;
}

textarea{
    padding: .4rem;
    border-radius: 1rem;
    background-color: #cbe7ff;
    max-width: 80%;
    margin-bottom: 5%;
}

button{
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: .5rem 1rem;
    position: relative;
    left: 35%;
    border-radius: 1rem;
    border: none;
    background-color: #ff7272;
    color: #00001b;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;

}
button:hover{
    background-color: #cbe7ff;
    color: #00001b;
}

.icon{
    max-width: 1.5rem;
    max-height: 1.5rem;
    background-color: #ff7272;
    border: .1rem solid #cbe7ff;
    border-radius: 1rem;
    
  }

  

  #social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    grid-area: icon;
  }
  p{
    font-family: "Helvetica", sans-serif;
  }