body{
    background-color: #00001b;

}

.grid-container{

    display: grid;
    grid-template-areas: 
    'banner banner banner'
    '. pic form'
    'icon icon icon';
    align-items: center;
    gap: 1rem;
}



ul{

    display:flex;
    justify-content:flex-end;
    text-align: center;
    overflow: hidden; 
    margin: 0 auto;
    padding: 0;
    
}

#navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #00001b;
    color: #cbe7ff;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    align-items: flex-start;
    margin: 0;
    border-bottom: solid .1rem #e5f2fd;
    

}

#logo{

    max-width: 4rem;
    max-height: auto;
    font-family: "Pacifico", cursive;
    margin-left: 9.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color:#ff7272;
    font-size: 1.5rem;
    
    
}


.navButton{
    
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: .5rem;
    border-collapse: collapse;
    color: #cbe7ff;
    text-decoration: none;
    font-size: 1rem;
    background-color: #00001b;
    font-weight: normal;
    
}

.navButton:hover{
    
    color: #ff7272;
}

h1{

    font-family: "Roboto", sans-serif;
    font-size: 150%;
    margin: 0;
    color: #ff7272;
    text-align: center;
}

#text{
    
    grid-area: banner;
    margin: 1rem;
}

#pic{
    
    grid-area: pic;
}

#pic img{
    max-width: 20rem;
    height:auto;
    
}


form{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    grid-area: form;
}

fieldset{
    border: solid .3rem #232342;
    border-left: solid 1rem #232342;
    border-bottom: solid 1rem #232342;
    
    margin-bottom: 5pt;
}

input{
    
    padding: .4rem;
    border-radius: 1rem;
    border: .1rem solid #232342;
    background-color: #cbe7ff00;
    color: #e5f2fd;
    max-width: 80%;
    margin-bottom: 5%;
}

textarea{
    padding: .4rem;
    border-radius: 1rem;
    border: .1rem solid #232342;
    background-color: #cbe7ff00;
    color: #e5f2fd;
    max-width: 80%;
    margin-bottom: 5%;
}

button{
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    background: none;
    color: #e5f2fd;
    border: solid .1rem #232342;
    border-radius: 6px;
    padding: .3rem; 
    font-size: 1rem;

}
button:hover{
    background-color: #cbe7ff83;
    color: #00001b;
    cursor: pointer;
}


.icon{
    max-width: 1.5rem;
    max-height: 1.5rem;
    background-color: #ff7272;
    border: .1rem solid #cbe7ff;
    border-radius: 1rem;
    
  }

  

  #social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    grid-area: icon;
    width: 100%;
  }
  p{
    font-family: "Helvetica", sans-serif;
  }