.grid-container{

    display: grid;
     gap: 1rem;

     grid-template-areas:
    'innernav innernav innernav innernav '
    ' box1 profile profile profile '
    ' .  profile profile profile '
    ' box2  profile profile profile '
    ' footer footer footer . ';
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#about{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box ul{
    padding: 1rem;
}
